<%- include('partials/header.ejs') %>

<div class="start">
    <a href='/login' style="text-decoration: none;" class="button"> Log In </a>
    <a href='/register' style="text-decoration: none;" class="button"> Sign Up </a>
</div>

<%- include('partials/footer.ejs') %>