<%- include('../partials/header.ejs') %>
<a href='/collection' style="text-decoration: none;">
    <div class="thanks"> 
      <p>Memberships</p>
      <img src='/images/mysong.png' class="thanks">
      <p>Thank you for buying our service</p>
    </div>
</a>
<%- include('../partials/footer.ejs') %>